/*Index.php*/
.cabezera{
	background-color: #A901DB;
	margin-bottom: 5px;
}

.logo {
	border-radius: 100px;
	padding: 8px;
	background-color: #A901DB;
}

/*Columna con el menu*/
.menu {
	padding-left: 0px;
	margin-left:  0px;
	color: #A901DB;
	background-color: #A901DB;
	font-family: 'Kaushan Script', cursive;
	font-size: 150%;
	width: 20%;
}
/* List Group */
.colorLetra{
	color: #FACC2E;
	font-family: 'Kaushan Script', cursive;
}
.colorCabecera{
	background-color: #A901DB; !important;
}
a, .link{
	background-color: #FACC2E;
	color: #A901DB;	
}
.noticia {
	margin: 10% 0 10% 7%;
	padding: 5% 10% 10% 8%;
	background-color: yellow;
	border-style: ridge;
	border-color: black;
}

.sinMenu {
	z-index: -7;
	padding-left: 0px;
	margin-left:  0px;
}
/* ==================================== */
/*
.navegador{
	position: fixed !important;
	z-index: 200 !important;
}
.navegador .
.navbar {
  list-style: none;
  overflow: hidden; 
  }
*/
/*
.affix {
    top: 0;
    width: 100%;
    z-index: 3;
}
  .affix + .container-fluid {
    padding-top: 70px;
    z-index: 3;
}
*/
.navbar{
	background-color: #FACC2E;
	font-family: 'Pacifico', cursive;
	font-size: 125%;
	color: black !important;
	border-radius: 10px;
	aling: left;
}

/* PEGADISO*/
.pegajoso-fixed {
	position:fixed;
	z-index:1000;
	top: 0;
	margin-top: 0;
	padding-top: 0;
	width: 60%;
}


.miNav:hover{
	background-color: #F7E600;
	color: black !important;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.miNav:active{
	background-color: #F7E600;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.miNav:visited {
	border-color: red;
    background-color: #F7E600;
	color: black !important;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.miNav:checked {
	border-color: red;
    background-color: #F7E600;
	color: black !important;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.miNav:focus {
    background-color: #F7E600;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.miNav:enabled {
	border-color: #A901DB;
    background-color: #F7E600;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.miNav:after {
	border-color: #A901DB;
    background-color: #A901DB;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.miNav:before {
	border-color: #A901DB;
    background-color: #A901DB;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}

.bar{
	background-color: #A901DB;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}

/*CARRUSEL*/
.carousel, 
.carousel-inner{
	margin-bottom: 2%;
}
.carousel-inner > .item > img {
  height: 300px;
}
.espacio1{
	margin-bottom: 5%; 
}

/* ================================ */
/*PRODUCTOS*/
.productos{
	height: 100%;
}

.sizeProducto{
	height: 50%;
}
.thumbnail{
	border-color: #A901DB;
}
.destacados > h2 {
	padding: 1% 0 1% 3%;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 300%;
	color: #A901DB;
	background-color: #F7E600;
	border-style: solid;
	border-color: #A901DB;
	border-radius: 10px;
}

/*FOOTER*/
.pie{ 
	margin-top: 5%;
	background-color: #A901DB;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	color: #FACC2E;
}
.footerMedio{
	padding: 15px; 
}
.copi{
	text-align: right;
	padding-left: 30%;
	background-color: black;
}

.tituloPie{
		border-color: #FACC2E;
		border-style: solid;
		border-width: 2px; 
		padding: 4px; 
}

/* ---------------------------------------------------------------------------------------------------- */
/*  PAGINA  del Formulario  */

.row{
	padding: 0;
	margin: 0;
}

.form-horizontal{
	padding: 0;
	margin: 0;
}
.col-md-6 
.col-md-12{
	padding: 0;
	margin: 0;	
	text-align: left;
}

.col-md-4 .col-md-3{
	padding: 0;
	margin: 0;	
}
/*
.nuevo{
	padding: 2px;
	margin: 2px;
}
*/
.titulo{
	font-family: 'Pacifico', cursive;
}

.clase2 .btn-group {
	border-color: #A901DB;
	background-color: #A901DB;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
	width: 100%;
}
.clase2:hover{

	background-color: #A901DB;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.clase2:active{

	background-color: black;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.clase2:visited {
	border-color: #A901DB;
    background-color: #A901DB;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.clase2:checked {
	border-color: #A901DB;
    background-color: #A901DB;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.clase2:focus {
    background-color: #A901DB;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.clase2:enabled {
	border-color: #A901DB;
    background-color: #A901DB;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.clase2:after {
	border-color: #A901DB;
    background-color: #A901DB;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.clase2:before {
	border-color: #A901DB;
    background-color: #A901DB;
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
/* ================================================ */
/* FORMULARIO */
/* INPUTS  */
.form-control:focus{
	border-color: #A901DB; 
	font-size: 15px;
}

.inputIzqCentro {
	padding-left: 12%;
}

.inputDer{
	padding-left: 5%;
}

.botonCentro{
	padding: 2% 0 0 35%;
}

.table, td{
	border: 1px solid #FACC2E;
	background-color: #F2F2F2;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	color: #A901DB;
}
.tableShow{
	width: 50%;
}

.crud{
	font-family: 'Kaushan Script', cursive;
	color: #A901DB;
}



/* ####################################################################################### */
/* Inicio de Sesion */
.form_sesion{
	padding-top: 5%;
	padding-right: 20%;
	padding-left: 20%;
	font-family: 'Pacifico', cursive;
	font-size: 200%;
}
.a_edit{
	color: black;
	font-family: 'Pacifico', cursive;
	font-size: 50%;

}
.a_edit:hover{
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.a_edit:active{
	color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.a_edit:visited {
    color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.a_edit:checked {
    color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.a_edit:focus {
    color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}
.a_edit:enabled {
    color: black;
	font-family: 'Pacifico', cursive;
	border-bottom: none;
}


/*Media query*/
@media (min-width: @screen-md-min) {
	.menu{
		width: 50%;
	}
}